body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.imagecircle{
    width: 100px;
    border-radius: 50%;
    height: 100px;
}
.playerimage{
    width: 100px;
    height: 110px;
    border-radius: 50%;
}

.matchlogos{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: 1px solid gray;
}

.secondmatchall{
    margin-left: -18px;
    margin-right: 5px;
}

.teamlogo{
    width: 300px;
}