{% include "common/head.html" %}

<main role="main" class="container">

    <div class="starter-template">
        <h1>All Teams Points</h1>
        <p class="lead">All teams points list here.</p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Team Logo</th>
                <th scope="col">Team Name</th>
                <th scope="col">Points</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for point in points %}
                <tr>
                    <td scope="row" teamid="{{ point.id }}">{{ forloop.counter }}</td>
                    <td><a href="/team/?id={{ point.team }}"> <img src="{{ point.team_logo }}" class="imagecircle" alt="{{ point.team_name }}"></a></td>
                    <td><a href="/team/?id={{ point.team }}">{{ point.team_name }}</a></td>
                    <td>{{ point.points }}</td>
                    <td>{{ point.date }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5"><a href="/" class="btn btn-sm btn-primary">Back to Home</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</main><!-- /.container -->

{% include "common/foot.html" %}